@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student management</h1>
    <p class="lead">The Student Management tool was born because of a need to keep track of the students, courses and grades.</p>
    <p>The Student Management tool it is design as a catalog for students and grades and also a tool to add courses.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administration Management</h2>
        <p>
            The Administrator and add classes, Courses, Students and Professors.
            The Students are assigned to classes and courses.
            The Professors are assigned to courses
        </p>
    </div>
    <div class="col-md-4">
        <h2>Professor management</h2>
        <p>
            The professor can add grades to students and can add courses.
        </p>
        </div>    
    <div class="col-md-4">
        <h2>Manage Students</h2>
        <p>The students can view grades and courses and add feedback for the professors.</p>
    </div>

</div>